{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'print.css' %}">
  </head>
  <body>
    <h3>Bonuspunkte {{ lecture|safe|default:"" }}</h3>
    {% if matrikel %}
    <p>Die Liste ist sortiert nach den letzten 4 Stellen der Matrikelnummer.
      Wenn n&ouml;tig sind weitere Stellen angegeben.</p>
    {% endif %}
    <table>
      <thead>
	<tr>
	  <th>{% if matrikel %}Matr.{% else %}Name{% endif %}</th>
	  {% for exercise in object_list.0.exercises %}
	  <th>Bl&nbsp;{{ forloop.counter }}</th>
	  {% endfor %}
	  {% if request.GET.total %}
	  <th>&#8721;</th>
	  <th>%</th>
	  <th>Bonus</th>
	  {% endif %}
	  {% if request.GET.etest %}
	  <th>Wissenstest</th>
	  {% endif %}
	</tr>
      </thead>
      {% for student in object_list %}
      <tr class="{% cycle 'odd' 'even' %}">
	<td class="right">{% if matrikel %}{{ student.obscured_matrikel }}{% else %}{{ student.last_name }}, {{ student.first_name }}{% endif %}</td>
	{% for exercise in student.exercises %}
	{% if points_doubledigits %}
	<td class="center points">{{ exercise.points|floatformat:2 }}</td>
	{% else %}
	<td class="center points">{{ exercise.points|floatformat:1 }}</td>
	{% endif %}
	{% endfor %}
	{% if request.GET.total %}
	{% if student.etest_fail %}
	<td class="center">&mdash;</td><td class="right">&mdash;</td><td>entf&auml;llt</td>
	{% else %}
	{% if points_doubledigits %}
	<td class="right">{{ student.total_points|floatformat:2 }}</td>
	{% else %}
	<td class="right">{{ student.total_points|floatformat:1 }}</td>
	{% endif %}
	<td class="right">{{ student.percent|floatformat:1 }}</td>
	<td class="center">{{ student.bonus }}</td>
	{% endif %}
	{% endif %}
	{% if request.GET.etest %}
	{% if student.etest_fail %}
	<td>fehlt/nicht ok!</td>
	{% else %}
	<td>ok</td>
	{% endif %}
	{% endif %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
