<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}print.css">
  </head>
  <body class="big">
    <h3>Gruppe {{ group }}, Blatt <div class="box"></div></h3>
    <table>
      <thead>
	<tr>
	  <th>Matr.</th>
	  <th>Name</th>
	  <th>Punkte</th>
	</tr>
      </thead>
      {% for student in object_list %}
      <tr>
      <!-- <tr class="{% cycle 'odd' 'even' %}"> -->
	<td class="right">{{ student.matrikel }}</td>
	<td>{{ student.last_name }}, {{ student.first_name }}</td>
	<td></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
