{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block title %}Print Exercise List | {% trans 'Django site admin' %}{% endblock %}

{% block content_title %}<h1>Print Exercise List</h1>{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='student_manager' %}">Student_manager</a>
&rsaquo; <a href="{% url 'admin:student_manager_student_changelist' %}">Students</a> &rsaquo; Print exercise list
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <form action="{% url 'print_exercises' %}" method="get">
      <div>
	<fieldset>
	  <table>
	  {{ form.as_table }}
	  </table>
	</fieldset>
	<div class="submit-row">
	  <input type="submit" value="Submit">
	</div>
    </div>
  </form>
</div>
{% endblock %}
