{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load url from future %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block title %}Query Exam Data | {% trans 'Django site admin' %}{% endblock %}

{% block content_title %}<h1>Query Exam Data</h1>{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='student_manager' %}">Student_manager</a>
&rsaquo; <a href="{% url 'admin:student_manager_exam_changelist' %}">Exams</a>
&rsaquo; Query exam data
</div>
{% endblock %}

{% block content %}
<div id="content-main">
  <p>attending students: {{ total_count.attend }},
    missing students: {{ missing_count }} <br />
    pass: {{ total_count.pass }},
    fail: {{ total_count.fail }}
  </p>
  {% if groups_count %}
  <p>
    {% for item in groups_count %}
    Group {{ item.group }}: attend {{ item.attend }},
    pass {{ item.pass }}, fail {{ item.fail }}<br />
    {% endfor %}
  </p>
  {% endif %}
  <table>
    <thead>
      <tr>
	<th>Mark</th>
	<th>Count</th>
      </tr>
    </thead>
    {% for item in markcounts %}
    <tr>
      <td class="center">{{ item.mark }}</td>
      <td class="right">{{ item.count }}</td>
    </tr>
    {% endfor %}
  </table>

  <p></p>

  <table>
    <thead>
      <tr>
	<th>Points &ge;</th>
	<th>Count</th>
      </tr>
    </thead>
    {% for item in pointgroups %}
    <tr>
      <td class="center">{{ item.lower }}</td>
      <td class="right">{{ item.count }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
