.navbar {
    padding: 0;
    margin: 0;
}

.navbar > li {
    float: left;
    list-style: none;
    margin-bottom: 0.5em;
    padding: 0 1em;
    border-left: 1px solid #fff;
}

.navbar > li:first-child {
    border-left: 0;
}

.navbar ul {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0 -1em;
    background: none repeat scroll 0 0 #417690;
    z-index: 1000;
}

.navbar ul li {
    padding: 0.5em 1em;
    list-style: none;
    white-space:nowrap;
}

.navbar > li:hover > ul {
    display: block;
}

#header {
    overflow: visible;
    padding-top: 1px;
}

.clearfix {
    clear: both;
}