body {
    font-size: 12px;
}

table {
    border-collapse: collapse;
    border: 1px solid;
    border-color: #AAA;
}

td, th {
    border-left: 1px solid;
    padding: 3px 5px;
    border-color: #AAA;
}

thead {
    border: 1px solid;
    border-color: #AAA;
    background-color: #F5F5F5;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.points {
    width: 35px;
}

.even {
    background-color: #F5F5F5;
}
