{% extends "admin/base.html" %}
{% load i18n %}
{% load student_manager_extras %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}extra.css">{% endblock %}

{% block title %}{{ title }} | {% trans 'Student Manager' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Student Manager' %}: {% static_data "lecture" %}</h1>
{% endblock %}

{% block nav-global %}
<ul class="navbar">
  <li><a href="{% url admin:index %}">Admin Home</a></li>
  <li>
    Print
    <ul>
      <li><a href="{% url print_students_opt %}">Student list</a></li>
      <li><a href="{% url print_exams_opt %}">Exam list</a></li>
    </ul>
  </li>
  <li>
    Import
    <ul>
      <li><a href="{% url import_exercises %}?return_url={{ request.path }}">Exercise data</a></li>
      <li><a href="{% url import_students %}?return_url={{ request.path }}">Student data</a></li>
      <li><a href="{% url import_exams %}?return_url={{ request.path }}">Exam data</a></li>
    </ul>
  </li>
  <li>
    <a href="{% url query_exams_opt %}">Query exam data</a>
  </li>
</ul>

<div class="clearfix"></div>
{% endblock %}
