{% extends "admin/base.html" %}
{% load i18n %}
{% load student_manager_extras %}

{% block title %}{{ title }} | {% trans 'Student Manager' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Student Manager' %} {% static_data "title" %}</h1>
{% endblock %}

{% block nav-global %}
<a href="{% url admin:index %}">Admin Home</a> |
<a href="{% url print_students_opt %}">Print student list</a> |
<a href="{% url print_exams_opt %}">Print exam list</a> |
<a href="{% url import_exercises %}?return_url={{ request.path }}">Import exercise data</a> |
<a href="{% url import_students %}?return_url={{ request.path }}">Import student data</a> |
<a href="{% url import_exams %}?return_url={{ request.path }}">Import exam data</a>
{% endblock %}
